## Download Dataset

This dataset is made publicly available on [archive.org](https://archive.org/details/anno_20210524).

Let's download the data and extract it.

In [1]:
mkdir data

In [2]:
!cd data && wget https://archive.org/download/anno_20210524/anno.zip

--2021-05-24 22:34:29--  https://archive.org/download/anno_20210524/anno.zip
Resolving archive.org (archive.org)... 207.241.224.2
Connecting to archive.org (archive.org)|207.241.224.2|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://ia801509.us.archive.org/13/items/anno_20210524/anno.zip [following]
--2021-05-24 22:34:29--  https://ia801509.us.archive.org/13/items/anno_20210524/anno.zip
Resolving ia801509.us.archive.org (ia801509.us.archive.org)... 207.241.228.159
Connecting to ia801509.us.archive.org (ia801509.us.archive.org)|207.241.228.159|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 822520810 (784M) [application/zip]
Saving to: ‘anno.zip’

anno.zip            100%[===================>] 784.42M  3.21MB/s    in 5m 0s

2021-05-24 22:39:29 (2.62 MB/s) - ‘anno.zip’ saved [822520810/822520810]

We now have downloaded the data. Let's extract it!

In [4]:
!cd data && unzip -q anno.zip

In [5]:
ls data

anno.pkl  anno.zip

In [8]:
import pandas as pd

anno = pd.read_pickle('data/anno.pkl')
anno.head()

,fold,category,esc10,audio
0,1,dog,True,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
1,1,chirping_birds,False,"[-0.01184082, -0.10336304, -0.14141846, -0.120..."
2,1,vacuum_cleaner,False,"[-0.006958008, -0.012512207, -0.011260986, -0...."
3,1,vacuum_cleaner,False,"[0.53897095, 0.39627075, 0.26739502, 0.1376648..."
4,1,thunderstorm,False,"[-0.00036621094, -0.0007019043, -0.00079345703..."

The calls are included in the dataframe as numpy arrays and are stored in the `audio` column.