In [1]:
mkdir data

In [2]:
!cd data && wget https://archive.org/download/chimpanzee-vocalizations/Chimpanzee\ vocalizations.zip && unzip -q Chimpanzee\ vocalizations.zip

--2021-08-30 15:15:22--  https://archive.org/download/chimpanzee-vocalizations/Chimpanzee%20vocalizations.zip
Resolving archive.org (archive.org)... 207.241.224.2
Connecting to archive.org (archive.org)|207.241.224.2|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://ia904509.us.archive.org/28/items/chimpanzee-vocalizations/Chimpanzee%20vocalizations.zip [following]
--2021-08-30 15:15:22--  https://ia904509.us.archive.org/28/items/chimpanzee-vocalizations/Chimpanzee%20vocalizations.zip
Resolving ia904509.us.archive.org (ia904509.us.archive.org)... 207.241.228.99
Connecting to ia904509.us.archive.org (ia904509.us.archive.org)|207.241.228.99|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 11706456187 (11G) [application/zip]
Saving to: ‘Chimpanzee vocalizations.zip’

ns.zip                0%[                    ]  10.32M  1.75MB/s    eta 1h 57m ^C

#### Things to note about the downloads:

* The calls are organized in different folders for (i) two neighboring chimpanzee communities at Gombe: Kasekela and Mitumba and (ii) month and year of recording. 
* The calls were recorded with two different Marantz PMD661 MKII audio recorders. The first recorded with filenames starting with 'KSK' and the second recorded with filenames starting with 'MTB'. 
* The WAV files are not trimmed and each file may contain multiple recordings. Trimming would need to be done based on the research question.

Next, we download the metadata file for the recordings.

In [3]:
!cd data && wget https://archive.org/download/chimpanzee-vocalizations/Metadata_chimpanzee_vocalizations_Gombe_2016-17.xlsx

--2021-08-30 15:15:29--  https://archive.org/download/chimpanzee-vocalizations/Metadata_chimpanzee_vocalizations_Gombe_2016-17.xlsx
Resolving archive.org (archive.org)... 207.241.224.2
Connecting to archive.org (archive.org)|207.241.224.2|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://ia804509.us.archive.org/28/items/chimpanzee-vocalizations/Metadata_chimpanzee_vocalizations_Gombe_2016-17.xlsx [following]
--2021-08-30 15:15:30--  https://ia804509.us.archive.org/28/items/chimpanzee-vocalizations/Metadata_chimpanzee_vocalizations_Gombe_2016-17.xlsx
Resolving ia804509.us.archive.org (ia804509.us.archive.org)... 207.241.235.79
Connecting to ia804509.us.archive.org (ia804509.us.archive.org)|207.241.235.79|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 82732 (81K) [application/octet-stream]
Saving to: ‘Metadata_chimpanzee_vocalizations_Gombe_2016-17.xlsx’

Metadata_chimpanzee 100%[===================>]  80.79K  --.-KB/s    in 0.02s

2021-08-30 15:15:30 (3.36 MB/s) - ‘Metadata_chimpanzee_vocalizations_Gombe_2016-17.xlsx’ saved [82732/82732]

#### Things to note about the metadata file:

* The metadata excel file has 3 sheets: (i) Datasheets_Gombe_2016-2017, (ii) Chimpanzee IDs, and (iii) Call-type IDs.
* The 'Datasheets_Gombe_2016-2017' sheet contains general information about each of the recordings. 
* The 'Chimpanzee IDs' sheet contains abbreviated chimpanzee IDs noted in the 'Datasheets_Gombe_2016-2017' sheet and their names, sex, community, and age as of 2016. 
* The 'Call-type IDs' sheet contains information about call-types noted in the 'Datasheets_Gombe_2016-2017' sheet. The list of call-types is not exhaustive.

Below, we take a peek at each of these sheets.

In [4]:
cd data

/Users/sauti/Desktop/Nisarg files/Dialects/Calls/Earth Species/Chimpanzees/data

In [5]:
import pandas as pd

df = pd.read_excel (r'Metadata_chimpanzee_vocalizations_Gombe_2016-17.xlsx', sheet_name='Datasheets_Gombe_2016-2017')
df.head()

,Date,Community,Recorder,Filename,Alternate filename from another recorder,Time,Focal Individual,Caller,Caller act,Context,Call type as noted by Recorder,Possible call types in the file
0,2016-08-01,Kasekela,Hashim,KSK008,NaN,12:08:00,NaN,TZ,Travel,NaN,SCR,NaN
1,2016-08-01,Kasekela,Hashim,KSK009,NaN,12:28:00,NaN,CHE,Travel,NaN,PH,NaN
2,2016-08-14,Kasekela,Hashim,KSK002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"bird calls, possible CC"
3,2016-08-14,Kasekela,Hashim,KSK003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,red colobus alarm sounds
4,2016-08-15,Kasekela,Hashim,KSK005,NaN,14:29:00,FE,"FE, Group",Climbs tree,Climbs tree,PH,"PHC, BRK, FG, U"

#### Additional info about the columns:

* The calls were recorded while following one individual chimpanzee (Focal Individual) to ensure that we captured all the relevant indiuduals for our study. However, calls were recorded from all individuals that called who were close to the Focal Individual. Whenever the caller was known, the ID was listed in the 'Caller' column. Refer to the accompanying manuscript (Desai et al. 2021) for more details about the recording methods.
* The 'Recorder' column contains the name of the field assistant who recorded the file.
* The 'Alternate filename from another recorder' column will have a filename in instances when both audio recorders were used simultaneously in the same spot, essentailly resulting in duplicate recordings. This was done for training the field assistants to record vocalizations.
* The 'Caller act' lists the behavior of the individual while calling. Whereas, the 'Context' column lists what the sub-group (known as 'party') of chimpanzees was doing while the call was given. 
* The field assistants were trained to list a call-type they could identify in the recording in the 'Call type as noted by Recorder' column. However, this is not an exhaustive list of all the calls in the file and each file may contain multiple call-types from one or more callers. Other call-types later identified are listed in the 'Possible call types in the file' column. However, this too is not an exhaustive list as not all call-types could be properly identified. More research needs to be done in classifying chimpanzee vocal repertoire.

In [6]:
df = pd.read_excel (r'Metadata_chimpanzee_vocalizations_Gombe_2016-17.xlsx', sheet_name='Chimpanzee IDs')
df.head()

  Chimp ID Chimp name Sex Community  Age in 2016
0       AP      APHRO   F  Kasekela           44
1      ARI       ARIS   M   Mitumba           10
2      BAH     BAHATI   F   Mitumba           28
3      BIM       BIMA   F   Mitumba           24
4      CHE      CHEMA   F       NaN           14

In [7]:
df = pd.read_excel (r'Metadata_chimpanzee_vocalizations_Gombe_2016-17.xlsx', sheet_name='Call-type IDs', header=None)
df

                         0
0           PH – pant hoot
1   PHC – pant hoot chorus
2              BRK – barks
3      BRKC – barks chorus
4            WB – waa bark
5    WBC – waa bark chorus
6         FG – food grunts
7         PG – pant grunts
8     CHR – chorused calls
9                CRY – cry
10       PLY – play sounds
11    CC – copulation call
12   U – unknown call type